header {
  background-color:rgb(15,10,40);
  text-align:center;
  color:white;
  padding:.8em 0;
}
.titulo {
  margin-bottom:.5em;
}

.frase {
  max-width: 700px;
  margin: 1em auto 0;
  padding-bottom: 1em;
  border-bottom: 2px solid black;
}
.frase:last-child {
  border-bottom:none;
}